header {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background: transparent;
  transition: all 0.5s ease;
}

header.black {
  background-color: #141414;
}

.header--logo {
  height: 35px;
}
.header--logo img {
  height: 100%;
}

.header--user {
  height: 45px;
}

.header--user img {
  height: 100%;
  border-radius: 3px;
}
